


@import "@assets/styles/global.module.css"; 

.body1{background: #b7b7b7;}         

.main{/* background: blue;  */   
      max-width: 1200px;
      border: var(--border10px) solid blue;  
      margin: 0 auto 0 auto;
      overflow-x:hidden; overflow-y: hidden; /* overflow-y: scroll; */ 
      }
.section_top{width: 100%; height: 200px; border: var(--border10px) solid green;  }

.itemsContainer
{ /* background: teal;   */
 width: 100%; height: auto;  border: var(--border10px) solid red; /*rgb(214, 23, 173);   */     
 display: flex;  flex-wrap: wrap; justify-content: space-evenly;
  /* overflow: scroll; */
}


.item {  background: white; /* cornflowerblue;   */
min-width: 360px; /* height: 300px; */ 
border: var(--border10px) solid black;  
margin: 10px 10px 10px 10px;  
box-shadow: var(--darkish_shadow);       
transition: var(--transition1);  
border-radius: var(--radius1);
         
position: relative;                     
display: inline-block;
width: 100%;
max-width: 47%;   /*  ie 564px of 1200px   */ 
/* max-width: 564px;   */  
position: relative;
/* margin: 10px;   */
text-align: left; 
min-height: 458px;   
      }


.section_foot{width: 100%; height: 200px; border: var(--border10px) solid green;  }

@media only screen and (max-width: 798px) /* ie from 798px 962px on down */  
{.item{border: var(--border10px) solid blue;  
        width:564px; max-width: 100%;
      }
}


/*
@media only screen and (max-width: 962px) remark...ie from 962px on down       
{.s1{border: var(--border10px) solid orange;}
@media only screen and (max-width: 768px)  remark... ie from 768px, on down    
{.s1{border: var(--border10px) solid grey;
     display: block; 
    }
 .d1{height: 50%;  width: 100%;}
 .d2{height: 50%;  width: 100%;}
 @media only screen and (max-width: 576px)  remark...* ie from 576 on down      
  {.s1{border: var(--border10px) solid tomato;}                                 
  }                                       
}                       
}  
*/




