
  

@import "@assets/styles/global.module.css"; 

.item1
{/* in plus.module.css as .item */
 background: white; /* cornflowerblue;   */
 min-width: 360px; /* height: 300px; */ 
 border: var(--border10px) solid black;  
        margin: 10px 10px 10px 10px;  
        box-shadow: var(--darkish_shadow);       
        transition: var(--transition1);  
        border-radius: var(--radius1);
                 
        position: relative;                     
        display: inline-block;
        width: 100%;
        max-width: 47%;   /*  ie 564px of 1200px   */ 
        /* max-width: 564px;   */  
        position: relative;
 text-align: left; 
 /* min-height: 458px; */
 height: 458px;  
}

.wrapper
{ border: var(--border10px) solid green;
  height:100%; width: 100%; 
  position: relative;
  display: flex; flex-flow: column; height: 100%;      
}
.prop_title
{padding: 5px 5px 5px 8px;
 position: relative;   
 font-size: 11pt;
 color: black;
 
}
.text{color: red; background: yellow;}



.paragraph1{color:black;  height: 20px;  position:absolute;    
            /* display: flex; flex-flow: column;     flex: 0 1 auto;  */
           }
.paragraph2{color:black;     top:20px; height: 20px;  position: absolute;  
           /* display: flex; flex-flow: column;      flex: 0 1 auto;       */
            }
.div_box
{width: 100%;  
 /* height: 80%; /*bottom: auto;    /*  height: auto;  */ 
 top: 40px;
   bottom: 50px;        
 max-width: 96%;
 margin: 2px 0px 5px 10px; 
 border: var(--border10px) solid tomato;
 position: absolute;   
 /*  object-fit: cover; */         
 /*     display: flex; flex-flow: column;   flex: 1 1 auto;    */     
}


.div_box_img
{ height: 100%;   
 width: 100%;       
 border: var(--border10px) solid blue;  /* box-sizing: border-box; */ 
 object-fit:  cover;   /* contain cover */    
 overflow: hidden;
 /* position: absolute; top: 0; bottom: 0; */
 
}  

.divx
{width:100%; height: 50px; background: cornflowerblue;
 border: var(--border10px) solid yellow;     
 position: absolute;  bottom: 0;    
  /* display: flex; flex-flow: column;  flex: 0 1 40px;     */
}




@media only screen and (max-width: 798px) /* ie from 798px 962px on down */  
{.item1{border: var(--border10px) solid blue;  
        width:564px; max-width: 100%;
      }
}





